#nav1 {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    font-family: sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-attachment: scroll;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .t1 {
        font-size: 16px;
        margin: 10px;
        position: static;
        text-align: center;
        width: auto;
        margin-left: 0;
    }

    #nav1 {
        margin-left: 10px;
        margin-right: 10px;
    }
}



#v1 {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}



body {
    margin: 0;
    padding: 0;
    overflow-x:auto;
    overflow-y: auto;
    user-select: none;
}


article{
    z-index: 1;
    position:fixed;
    color: white;
    margin-left: 10px;
}

img{
    z-index: 1;
    float: left;
    padding-right: 20px;
}
#j1{
    z-index: 1;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
div{
    z-index: 1;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px ;
}


