
body{
    background-attachment: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#nav1 {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    font-family: sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-attachment: scroll;
    position: relative;

    
}




video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header{
    z-index: 1;
    color: orange;
    position: relative;
}
article{
    z-index: 1;
    position: relative;
    color: orange;
    margin-left: 10px;
}
#l1{
    color: orange;
}
img{
    z-index: 1;
    float: left;
    padding-right: 20px;
}
div{
    z-index: 1;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 25px ;
}
#j1{
    z-index: 1;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
}



@media only screen and (max-width: 768px) {
    .t1 {
        font-size: 16px;
        margin: 10px;
        position: static;
        text-align: center; /* Center text for smaller screens */
        width: auto; /* Adjust width for smaller screens */
        margin-left: 0; /* Remove left margin for smaller screens */
    }
    #nav1 {
        margin-left: 10px;
        margin-right: 10px;
    }
}